In [1]:
import pandas as pd

In [2]:
hit = pd.read_csv("hit.csv")
pitch = pd.read_csv("pitch.csv")

In [9]:
total = hit.append(pitch)
total

       Season             Name Team   WAR  playerid
0        1920        Babe Ruth  NYY  13.3   1011327
1        1921        Babe Ruth  NYY  13.9   1011327
2        1923        Babe Ruth  NYY  15.0   1011327
3        1941     Ted Williams  BOS  11.0   1014040
4        1926        Babe Ruth  NYY  12.0   1011327
...       ...              ...  ...   ...       ...
44721    1998       Joe Hudson  MIL  -0.1   1006138
44722    2019  Austen Williams  WSN  -0.2     16309
44723    1894    Jack Scheible  PHI   0.0   1011540
44724    1945       Joe Cleary  WAS  -0.1   1002329
44725    2007     Jeff Ridgway  TBD  -0.1      2819

[60312 rows x 5 columns]

In [20]:
debuts = []
seasons = []
for index, row in total.iterrows():
    debuts.append(total[total["playerid"]==row["playerid"]].sort_values(by="Season").iloc[0]["Team"])
    seasons.append(total[total["playerid"]==row["playerid"]].sort_values(by="Season").iloc[0]["Season"])
total["Debut Team"] = debuts
total["Debut Season"] = seasons

In [46]:
ids = list(set(list(total["playerid"])))
output = pd.DataFrame()

In [47]:
for i in ids:
    newrow = []
    thisguy = total[total["playerid"]==i]
    newrow.append(thisguy.iloc[0]["Name"])
    newrow.append(thisguy.iloc[0]["Debut Season"])
    newrow.append(thisguy.iloc[0]["Debut Team"])
    newrow.append(thisguy["WAR"].sum())
    output = output.append([newrow])
print(output)

                  0     1      2     3
0   Garret Anderson  1996    CAL  20.2
0      Kevin Appier  1989    KCR  51.0
0   Scott Patterson  2008  - - -   0.0
0       Jamie Burke  2008    SEA   0.0
0   Mickey Callaway  1999    TBD   0.7
..              ...   ...    ...   ...
0   George Zuverink  1951    CLE   1.9
0    Dutch Zwilling  1914    CWH  12.1
0     Norman Glaser  1920    DET   0.0
0               NaN  1885    CIN  -0.1
0      George Craig  1907    PHA  -0.2

[12885 rows x 4 columns]

In [48]:
output.columns = ["Name","Season","Team","WAR"]

In [49]:
output.to_csv("streamsheet.csv")